/*Clase general para todas las escenas*/
.body {
	-fx-background-image: url(../img/FrutasEnFormaOscuro1000X750.png);
	-fx-background-size: contain;
	-fx-font-size: larger;
	-fx-max-width: 500px;
}
.menubar{
	-fx-max-width: 500px;
	-fx-background-color: #a1a1c5;
	-fx-border-color: purple;
}
/*Labels de la pagina*/
.body .label{
	-fx-padding: 10px;
	-fx-font-weight: bold;
	-fx-text-fill: red;
}
/*Botones de la pagina*/
.body .button{
	-fx-padding: 2px;
	-fx-background-color: rgb(225, 250, 130);
	-fx-border-color: rgb(179, 179, 179);
	-fx-border-radius: 5px;
	-fx-border-width: 2px;
}
/*:Hover del boton principal*/
.body .button:hover{
	-fx-background-color: lightgray;
	-fx-border-color: rgb(255, 125, 125);
}
/*TextFields de la pagina*/
.body .text-field{
	-fx-padding: 4px;
	-fx-background-color: rgb(160,159,243);
	-fx-border-color: rgb(99, 240, 253);
}
/*Checkbox de la pagina*/
.body .check-box .box{
	-fx-border-style: solid;
	-fx-border-width: 3px;
	-fx-border-color: lightgrey;
	-fx-background-color: rgb(99, 240, 253);
}
/*Choicebox de la pagina*/
.body .choice-box{
	-fx-border-color: blue;
	-fx-background-color: lightgray;
}
/*Label de los choicebox*/
.body .choice-box .label{
	-fx-text-fill: red;
}
/*Flecha de los choicebox*/
.body .choice-box .arrow{
	-fx-background-color: blue;
}
/*Labels menubar*/
.menubar .label{
	-fx-font-size: large;
	-fx-font-weight: normal;
	-fx-text-fill: red;
}
/*Labels con el resultado de las calculadoras*/
#labelResultadoCalculadora{
	-fx-padding: 4px;
	-fx-text-fill: rgb(255, 125, 125);
}
/*Iconos*/
.iconos{
	-fx-max-width: 200px;
	-fx-background-color: lightgray;
}
.iconos .menu{
	-fx-background-color: lightgray;
}